body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#journeyView {
    width: 80%;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#imageContainer {
    position: relative;
    width: 100%;
    height: 80%;
}

#imageContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#imageContainer .fade-out {
    opacity: 0;
}

#journeyView p {
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#progressBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#progressBtn:hover {
    background-color: #45a049;
}

#resetBtn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d32f2f; /* Red for reset */
    color: white;
    border: none;
    border-radius: 5px;
}

#resetBtn:hover {
    background-color: #b71c1c; /* Darker red on hover */
}

#mapContainer {
    margin-top: 20px;
    position: relative;
    width: 80%;
    height: auto; /* Changed to auto to match the image's aspect ratio */
    max-height: 200px; /* Sets a maximum height so it doesn't grow too large */
}

#mapImage {
    width: 100%;
    height: auto; /* Ensures the image maintains its aspect ratio */
    object-fit: contain; /* This ensures the image is fully visible within the container */
    display: block; /* To prevent any space below the image due to inline-block nature of img */
}

@media (max-width: 600px) {
    #mapContainer {
        max-height: 150px; /* For smaller screens, adjust as necessary */
    }
}

#pauseResumeBtn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3f51b5; /* Blue for pause/resume */
    color: white;
    border: none;
    border-radius: 5px;
}

#pauseResumeBtn:hover {
    background-color: #303f9f; /* Darker blue on hover */
}